.angled-box {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;    
  }
  .left, .right {
    flex: 1;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    position: relative;
  }
  
  
  .right {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    transform: translateX(15%);
    position: relative;
  }
 
  .right-content {
    position: relative;
  }
  .angled-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    background-color: #58A36F;
    z-index: -1;
  }
  