/* .form-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);  
} */
.f-item1{
    
}
.form-wrapper button{
    box-sizing: border-box;
    transition: background-color 0s, color 0s, transform 0.3s;
}
.form-wrapper button:hover{
    transition: background-color 0s, color 0s, transform 0.3s;
}