*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    position:relative;
    overflow-x: hidden; 
    padding: 0;
    margin:0;
}
.see-more-btn{
    display:flex;
    justify-content: flex-end;
    align-self:flex-end;
    align-items: flex-end;
    position: absolute;
    right: 20px;
    bottom: 5px;
}