
/* Style for the tooltip container */
.myJobs-container {
    position: relative;
    display: inline-block;
  }
  
  /* Style for the tooltip text */
  .myJobs-container .my-jobs{
    /* visibility: hidden; */
    
    /* background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;    
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%; */
    /* transform: translateX(-50%); */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Show the tooltip text on hover */
  .myJobs-container:hover .my-jobs{
    visibility: visible;
    opacity: 1;
  }
  